<div style="height:50px; line-height: 100px; width: 100%; position: relative;">
    <ul class="layui-nav">
        <li class="layui-nav-item"><a href="">最新活动</a></li>
        <li class="layui-nav-item layui-this"><a href="">产品</a></li>
        <li class="layui-nav-item"><a href="">解决方案</a></li>
        <li class="layui-nav-item"><a href="">大数据</a></li>
    </ul>
</div>